.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem;
  padding-top: 6rem;
}

.chevron {
  color: var(--blue-300);
}

strong {
  font-size: 2rem;
}