.tagsContainerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  gap: 8px;
  width: 100%;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 80%;
}

.tag {
  font-size: 0.75rem;
  padding: 0.4rem 0.75rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #0a0a0a;
  transition: all 0.4s ease;
  color: var(--subtle-text-color);
  opacity: 1;
  transform: translateY(0);
  border-color: rgba(59, 174, 255, 0.3);
}

.tag:hover {
  border-color: rgba(var(--main-blue-rgb), 0.35);
  background-color: rgba(var(--main-blue-rgb), 0.06);
  box-shadow: 0 0 10px rgba(var(--main-blue-rgb), 0.2);
}

.showMoreBtnWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20%;
  margin-left: 10px;
  margin-top: 5px;
}

.showMoreBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 0;
  color: var(--main-blue);
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.showMoreBtn:hover {
  background: none;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .tagsContainerWrapper {
    display: none;
  }
}