.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #111827; /* Dark background */
  color: var(--white);
}

.post h2 {
  font-size: 24px;
  color: var(--white);
  margin-bottom: 20px;
}

.post p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 15px;
}

.post a {
  color: #90caf9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.post a:hover {
  color: #64b5f6;
}

.post pre {
  padding: 10px;
  background-color: var(--dracula--background);
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.4;
  color: var(--white);
}

.post code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.post strong {
  font-weight: bold;
  margin: 0;
}

.post .socialImage {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post .button {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #90caf9;
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.post .button:hover {
  background-color: #64b5f6;
}
