:root {
  --white: #fff;
  --white-transparent: #ffffff55;
  --gray: #2d3748;
  --black: #000;
  
  --blue-300: #4fa4fa;
  --blue-900: #111827;
  --blue-dark: #2d3748;

  --dracula--background: #282a36;

  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));

  --bg-color: #0d1117;
  --text-color: #c9d1d9;
  --subtle-text-color: #8b949e;
  --highlight-color: #ffffff;
  --border-color: #30363d;
  --hover-bg-color: #21262d;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --tooltip-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --level0: #161b22;
  --level1: #0e4429;
  --level2: #006d32;
  --level3: #26a641;
  --level4: #39d353;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, system-ui, sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  background: var(--blue-900);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

.chevron {
  color: var(--blue-300);
}

.title {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
}
