.tictactoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

strong {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 22rem; 
}