.container {
  min-height: 70vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem;
  padding-top: 1rem;
}

.pomodoro {
  margin-top: 3rem;
  height: auto;
  width: 500px;
  border-radius: 5%;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sessionLabel {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.focusSession {
  color: #87CEEB
}

.breakSession {
  color: #ADD8E6; 
}

.time {
  font-family: sans-serif;
  font-size: 85px;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #414345;
}

.circle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--white);
}

.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.toggleModeButton {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggleModeButton:hover {
  background-color: #2980b9;
}

.config {
  margin-bottom: 20px;
  margin-right: 20px;
  align-self: flex-end;
  width: 48px;
  height: 48px;
}

.config svg {
  width: 28;
  height: 28px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.configMenu {
  position: fixed;
  max-width: 380px;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.configMenu label {
  display: block;
  margin-bottom: 10px;
}

.configMenu input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.configMenu button {
  background-color: var(--white-transparent);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.configMenu button:hover {
  background-color: var(--blue-300);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 480px) {
  .container {
    padding-top: 0rem;
  }

  .pomodoro {
    width: 320px;
    margin-top: 0rem;
  }
}